<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
<title>Smart City - By Team95</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'smartcity/homepage/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'smartcity/homepage/mediaqueries.css' %}" type="text/css" media="all">

</head>

<body>

<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
		<h1><a href="index.html">Smart City</a></h1>
		<h2><a href="index.html">By Team95<a></h2>
    </div>
	
	<div id="login" class="clear">
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<h3><a href="admin">Welcome, {{user.username}}</a></h3>
		{% else %}
			<h3>Welcome, {{user.username}}</h3>
		{% endif %}
		<h3><a href="logout">Logout</a></h3>      
	{% else %}
		<h3><a href="login.html">Login</a></h3>
		<h3><a href="register.html">Register</a></h3>
	{% endif %}
	</div>
	
  </header>
</div>

<div id="container">
	<div id="container2">
		<br>
		<form action="#" method="get" align="left">
			<input type="text" placeholder="Search..." name="txtSearch" id="searchForm">
			<input type="submit" value="Search" name="btnSearch" id="searchButton">
		</form></br>
		<br>
		<form method="get" align="center">
			<input type="submit" value="All" name="btnAll" id="mainButton">
			<input type="submit" value="Student Services" name="btnStudent" id="mainButton">
			<input type="submit" value="Tourist Services" name="btnTourist" id="mainButton">
			<input type="submit" value="Business Services" name="btnBusiness" id="mainButton">
		</form><br>
		<br>
		<div id="scrollable">
			<table align=center border="1">
				<tr>
				<th>  Name  </th>
				<th>  Address  </th>
				<th>  Image </th>
				</tr>
					{% for item in table_data %}
				<tr> 
					<td align="center" width="15%"><a href="service={{ item.id }}">{{ item.name }}</a><br>
					</br>
					>{{ item.type }}</td>
					<td align="center" width="20%">{{ item.address }}</td>
					<td align="center" width="50%"> <img src="{{ item.image }}"> </td>
				</tr>
				{% endfor %}
			</table>
        </div>
		
	</div>
</div>




</body>
</html>