<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
<title>Smart City - By Team95</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'smartcity/users/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'smartcity/users/mediaqueries.css' %}" type="text/css" media="all">

</head>

<body>

<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
		<h1><a href="index.html">Smart City</a></h1>
		<h2><a href="index.html">By Team95<a></h2>
    </div>
	<div id="login" class="clear">
		<h3><a href="">Login</a></h3>
		<h3><a href="register.html">Register</a></h3>
	</div>
  </header>
</div>

<div id="container">
	<div id="container2">
		<br>
		</br>
		<br>
		</br>
		<br>
		</br>
		<br>
		</br>
		<br>
		</br>
		<br>
		</br>
		<form method="post" align="center">
			{% csrf_token %}
			Username
			</br><input type="text" name="txtUsername"><br>
			</br>Password
			</br><input type="password" name="txtPassword"><br>
			</br><input type="submit" value="Login" name="btnLogin"><br>
			</br><div id="error">{{ login_message }}</div>
		</form></br>
	</div>
</div>

</body>
</html>