<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
<title>Smart City - By Team95</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'smartcity/users/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'smartcity/users/mediaqueries.css' %}" type="text/css" media="all">

</head>

<body>

<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
		<h1><a href="index.html">Smart City</a></h1>
		<h2><a href="index.html">By Team95<a></h2>
    </div>
	<div id="login" class="clear">
		<h3><a href="login.html">Login</a></h3>
		<h3><a href="#">Register</a></h3>
	</div>
  </header>
</div>

<div id="container">
	<div id="container2">
		<br>
		</br>
		<form method="get" align="center">
			Given Name
			</br><input type="text" name="txtGiven"><br>
			</br>Surname
			</br><input type="text" name="txtSurname"><br>
			</br>Username
			</br><input type="text" name="txtUsername"><br>
			</br>Password
			</br><input type="password" name="txtPassword"><br>
			</br>Email (optional)
			</br><input type="text" name="txtEmail"><br>
			</br>Phone Number (optional)
			</br><input type="text" name="txtPhone"><br>
			</br>Residential Address (optional)
			</br><input type="text" name="txtAddress"><br>
			</br>Please select a user type:
			</br><select name="txtSelect"><br>
				<option value="Student">Student</option>
				<option value="Tourist">Tourist</option>
				<option value="Business">Business</option>
			</select><br>
			<br><input type="submit" value="Register" name="btnRegister"><br>
			</br> <div id="error">{{ register_error }}</div>
		</form>
		
	</div>
</div>




</body>
</html>