<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
<title>Smart City - By Team95</title>
<meta charset="iso-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'smartcity/service/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'smartcity/service/mediaqueries.css' %}" type="text/css" media="all">

</head>

<body>

<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
		<h1><a href="index.html">Smart City</a></h1>
		<h2><a href="index.html">By Team95<a></h2>
    </div>
	<div id="login" class="clear">
	{% if user.is_authenticated %}
		{% if user.is_superuser %}
			<h3><a href="admin">Welcome, {{user.username}}</a></h3>
		{% else %}
			<h3>Welcome, {{user.username}}</h3>
		{% endif %}
		<h3><a href="logout">Logout</a></h3>      
	{% else %}
		<h3><a href="login.html">Login</a></h3>
		<h3><a href="register.html">Register</a></h3>
	{% endif %}
	</div>
  </header>
</div>

<div id="container">
	<div id="container2">
		<div id="map">
			<h2>{{ service.name }}</h2>
			<div class="one_half first">
				{{ service.address }}<br>
				</br>Contact:<br>
				</br>{{ service.email }}<br>
				</br>{{ service.phone_number }}
			</div>
			<div class="one_half">
				<iframe width="600" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q={{ service.lat }},{{ service.lng }}&z=15&output=embed"></iframe>
			</div>
		</div>
		
	</div>
</div>




</body>
</html>